h1 {
  font-size: 55px;
  margin: 0 auto;
  padding: 80px 0px 40px 0px;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 80px;
}

hr {
  opacity: 0.75;
  max-width: 500px;
  margin: 0 auto;
}

.form {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 20px 15px 30px 15px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 60px;
  max-width: 967px;
}

.search-bar {
  height: 45px;
  padding: 0px 15px;
}

.search-text {
  padding: 0px 0px 20px 12px;
  text-align: left;
  font-size: 20px;
}
